@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap");

:root {
  --button-color: #92e3a9;
  --button-hover-color: #73e393;
  --link-hover-color: #92e3a9;
  --backgrounf-color: #faf8f1;
  --navbar-links-color: #000000;
}

/* ------------- resets ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  background-color: var(--backgrounf-color);
}

/* ------------- Navbar - body ---------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 70px;
  margin: auto;
  color: var(--navbar-links-color);
  font-weight: 500;
  font-size: 18px;
}

#logo {
  box-shadow: 10px 5px 0px 5px rgba(105, 216, 185, 0.3);
  outline: 3px solid rgba(105, 216, 185, 0.3);
  border-radius: 0.1rem;
  padding: 0.1rem;
  letter-spacing: 2px;
}

.links ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link {
  text-decoration: none;
}

.m-links {
  display: none;
}

.link:visited {
  color: none;
}

li {
  list-style: none;
}

/* ------------- <NavLink> components provide .active class to use ---------------- */

a {
  color: #000000;
}

.active {
  border-bottom: 1px solid #fc0000;
  color: #000000 !important;
}

/* ------------- Tablet responsiveness - body ---------------- */

@media only screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .m-links {
    display: contents;
    position: relative;
    bottom: 0;
  }

  .m-links ul {
    font-size: 2rem;
    display: flex;
    gap: 2rem;
  }

  #logo {
    letter-spacing: 1px;
  }
}

/* ------------- Mobile responsiveness - body ---------------- */

@media only screen and (max-width: 480px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .logo {
    margin: 2rem;
  }
  .links {
    display: none;
  }

  .m-links {
    display: contents;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
  }

  .m-links ul {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  #logo {
    letter-spacing: 1px;
  }
}
