


.education-sub-heading {
    text-align: center;
}

.button-section {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

