/* ------------------- Skills - body ---------------- */

.skills-sub-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.skills-outer-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  gap: 5rem;
  margin-bottom: 5rem;
}

.frontend-card {
  outline: 5px solid #25D366;
  padding: 1rem;
  display: grid;
  grid-template-rows: 2rem 3rem 3rem 4rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 30%;
  border-radius: 1rem;

  background: rgba( 245, 223, 78, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.frontend-card:hover {
  box-shadow: 0 0 0 3px rgba(105, 216, 126, 0.3);
}

.front-end-skills {
  font-weight: 600;
  /* background-color: aliceblue; */

}

.skills-box {
  text-align: left;
  /* background-color: aliceblue; */

}

.skills-box:nth-child(1) {
  grid-column: 1 / 3;
  text-align: center;
  margin: 0;
}

.front-end-skills {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

/* ------------------- Tablet responsive ---------------- */

@media screen and (max-width: 768px) {

  .skills-outer-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
   
  }

  .frontend-card {
    width: 70%;
  }
}

/* ------------------- Mobile responsive ---------------- */

@media screen and (max-width: 480px) {
  .skills-sub-heading {
    font-size: 1rem;
  }

  .skills-name {
    font-size: 1rem;
  }

  .skills-outer-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    gap: 3rem;
  }

  .front-end-skills {
    font-size: 1rem !important;
  }

  .frontend-card {
    width: 100%;
  }
}
